BloodPressureTracker/Connected Services/WCFServiceReference/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44363/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44363/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44363/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_UpdateInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInformation" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ViewInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewInfo" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ViewInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_Viewbloodhistory_InputMessage">
    <wsdl:part name="parameters" element="tns:Viewbloodhistory" />
  </wsdl:message>
  <wsdl:message name="IWCFService_Viewbloodhistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewbloodhistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ViewDiet_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewDiet" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ViewDiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewDietResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="UpdateInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/UpdateInformation" message="tns:IWCFService_UpdateInformation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/ViewInfo" message="tns:IWCFService_ViewInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ViewInfoResponse" message="tns:IWCFService_ViewInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Viewbloodhistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/Viewbloodhistory" message="tns:IWCFService_Viewbloodhistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ViewbloodhistoryResponse" message="tns:IWCFService_Viewbloodhistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewDiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/ViewDiet" message="tns:IWCFService_ViewDiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ViewDietResponse" message="tns:IWCFService_ViewDiet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateInformation">
      <soap:operation soapAction="http://tempuri.org/IWCFService/UpdateInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ViewInfo">
      <soap:operation soapAction="http://tempuri.org/IWCFService/ViewInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Viewbloodhistory">
      <soap:operation soapAction="http://tempuri.org/IWCFService/Viewbloodhistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewDiet">
      <soap:operation soapAction="http://tempuri.org/IWCFService/ViewDiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:1712/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>