BloodPressureTracker/Connected Services/SignInServiceReference/SignIn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="signingIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="signingInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="signingInResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="signingInSoapIn">
    <wsdl:part name="parameters" element="tns:signingIn" />
  </wsdl:message>
  <wsdl:message name="signingInSoapOut">
    <wsdl:part name="parameters" element="tns:signingInResponse" />
  </wsdl:message>
  <wsdl:portType name="SignInSoap">
    <wsdl:operation name="signingIn">
      <wsdl:input message="tns:signingInSoapIn" />
      <wsdl:output message="tns:signingInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignInSoap" type="tns:SignInSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signingIn">
      <soap:operation soapAction="http://tempuri.org/signingIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SignInSoap12" type="tns:SignInSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signingIn">
      <soap12:operation soapAction="http://tempuri.org/signingIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignIn">
    <wsdl:port name="SignInSoap" binding="tns:SignInSoap">
      <soap:address location="https://localhost:44363/SignIn.asmx" />
    </wsdl:port>
    <wsdl:port name="SignInSoap12" binding="tns:SignInSoap12">
      <soap12:address location="https://localhost:44363/SignIn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>