BloodPressureTracker/Connected Services/SignUpServiceReference/SignUp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="signingUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="bloodPressure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="signingUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="signingUpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="signingUpSoapIn">
    <wsdl:part name="parameters" element="tns:signingUp" />
  </wsdl:message>
  <wsdl:message name="signingUpSoapOut">
    <wsdl:part name="parameters" element="tns:signingUpResponse" />
  </wsdl:message>
  <wsdl:portType name="SignUpSoap">
    <wsdl:operation name="signingUp">
      <wsdl:input message="tns:signingUpSoapIn" />
      <wsdl:output message="tns:signingUpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignUpSoap" type="tns:SignUpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signingUp">
      <soap:operation soapAction="http://tempuri.org/signingUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SignUpSoap12" type="tns:SignUpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signingUp">
      <soap12:operation soapAction="http://tempuri.org/signingUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignUp">
    <wsdl:port name="SignUpSoap" binding="tns:SignUpSoap">
      <soap:address location="https://localhost:44363/SignUp.asmx" />
    </wsdl:port>
    <wsdl:port name="SignUpSoap12" binding="tns:SignUpSoap12">
      <soap12:address location="https://localhost:44363/SignUp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>